@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@mixin border-reset {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Poppins;

    .navbar {
        .navbar-brand {

            font-size: 32px;
            font-weight: 600;

            @media (max-width: 767.98px) {
                margin-right: auto;
                margin-left: 1rem;
            }
        }

        form {
            width: 50%;

            .form-control {
                border: none;
                border-radius: 17px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                @include border-reset();
            }

            .btn {
                border: none;
                border-radius: 17px;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-color: transparent;
                @include border-reset();

                &:hover {
                    background-color: #198754;
                }

                i {
                    color: white;
                }
            }

            @media (max-width: 767.98px) {
                width: 100%;
            }
        }

        .fixed-top {
            padding-top: auto;
            margin-left: auto;
            width: 100px;

            button {
                margin-top: 12px;
                @include border-reset();

                i {
                    color: white;
                }
            }

        }

    }

    .container {
        h1 {
            text-align: center;
            font-weight: 600;
            margin-top: 7rem;
            margin-bottom: 3rem;
        }

        #selection-movies {

            .card {
                &:hover {
                    transform: scale(1.1);
                }

                .card-img-top {
                    max-height: 259px;
                    max-width: 259px;
                    object-fit: cover;
                }

                .card-body {
                    width: 100%;
                    

                    @media (min-width: 767.98px) {
                        height: 220px;
                    }

                    @media (max-width: 767.98px) {
                        padding: 16px 48px;
                    }

                    .card-text {
                        margin: 0;
                    }

                    .button-add {
                        @include border-reset();
                    }
                }
            }



        }

        .offcanvas-end {
            width: 60%;

            .offcanvas-header {
                button {
                    @include border-reset();
                }
            }

            .offcanvas-body {
                table {
                    width: 100%;

                    th,
                    td {
                        width: 20%;
                        text-align: center;
                    }
                }
            }
        }
    }

    footer {
        background-color: #212529;
        color: white;
        padding: 3rem;

        h6 {
            font-weight: 600;
            font-size: 20px;
        }

        p {
            font-weight: 300;
        }

        a {
            color: #198754;

            &:hover {
                color: #198754;
                opacity: .5;
            }

        }

        .fab {
            size: 100%;
        }
    }
}