@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Poppins;
}
body .navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
}
body .navbar .collapse {
  width: 100%;
}
body .navbar .collapse form {
  width: 50%;
}
body .navbar .collapse form .form-control {
  border: none;
  border-radius: 17px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body .navbar .collapse form .btn {
  border: none;
  border-radius: 17px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body .navbar .collapse form .btn:hover {
  background-color: #198754;
}
body .navbar .collapse form .btn i {
  color: white;
}
body .navbar .collapse .cart {
  margin-left: auto;
}
body .navbar .collapse .cart .btn {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body .navbar .collapse .cart .btn i {
  color: white;
}
body .container h1 {
  text-align: center;
  font-weight: 600;
  margin-top: 7rem;
  margin-bottom: 3rem;
}
body .container #selection-movies .card:hover {
  transform: scale(1.1);
}
body .container #selection-movies .card .card-img-top {
  max-height: 259px;
  max-width: 259px;
  object-fit: cover;
}
body .container #selection-movies .card .card-body {
  width: 100%;
}
body .container #selection-movies .card .card-body .card-title {
  height: 3.75rem;
}
body .container #selection-movies .card button {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body .container .offcanvas-end {
  width: 60%;
}
body .container .offcanvas-end .offcanvas-header button {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
body .container .offcanvas-end .offcanvas-body table {
  width: 100%;
}
body .container .offcanvas-end .offcanvas-body table th, body .container .offcanvas-end .offcanvas-body table td {
  width: 20%;
  text-align: center;
}
body footer {
  background-color: #212529;
  color: white;
  padding: 3rem;
}
body footer h6 {
  font-weight: 600;
  font-size: 20px;
}
body footer p {
  font-weight: 300;
}
body footer a {
  color: #198754;
}
body footer a:hover {
  color: #198754;
  opacity: 0.5;
}
body footer .fab {
  size: 100%;
}